<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tal.wikipediagame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WikipediaGame"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PlayMode"
            android:label="Game Mode"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".StartingScreen">

        </activity>
        <!-- Can change to light in order to make actionbar white -->
        <activity
            android:name=".StartingScreen"
            android:label="@string/title_activity_starting_screen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>